<!DOCTYPE html>
<html>
  <head>
    <title>CMSC100 Template</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="rvbulalacao" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-responsive.css" rel="stylesheet" />
	<style type="text/css">
		body {
			padding-top: 60px;
			padding-bottom: 40px;
		}
		.sidebar-nav {
			padding: 9px 0;
		}
		section, article, nav, header, footer, figure, figcaption {
			display: block;
		}
	</style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="#">CMSC100Template</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li><a href="index.html">Home</a></li>
						<li class="active"><a href="sub-topic-01.html">Contents</a></li>
						<li><a href="video-gallery.html">Video Gallery</a></li>
						<li><a href="photo-gallery.html">Photo Gallery</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row-fluid">
			<section class="span3">
				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li class="nav-header">CAST</li>
						<li><a href="#article1">Josh Radnor</a></li>
						<li><a href="#article2">Jason Segel</a></li>
						<li><a href="#article3">Cobie Smulders</a></li>
						<li><a href="#article4">Alyson Hannigan</a></li>
						<li><a href="#article5">Neil Patrick Harris</a></li>
						<li><a href="#article6">Guest Stars</a></li>
						<li class="nav-header">SEASON SYNOPSIS</li>
						<li><a href="sub-topic-02.html#article1">Season 1</a></li>
						<li><a href="sub-topic-02.html#article2">Season 2</a></li>
						<li><a href="sub-topic-02.html#article3">Season 3</a></li>
						<li><a href="sub-topic-02.html#article4">Season 4</a></li>
						<li><a href="sub-topic-02.html#article5">Season 5</a></li>
						<li><a href="sub-topic-02.html#article6">Season 6</a></li>
						<li><a href="sub-topic-02.html#article7">Season 7</a></li>
						<li><a href="sub-topic-02.html#article8">Season 8</a></li>
					</ul>
				</div>
			</section>
			<section class="span9">
				<h1>CAST</h1>
				<article id="article1">
					<h2>JOSH RADNOR as Ted Mosby</h2>
					<p>Ted Mosby is an architecture teacher and the central character of the series. Ted moved to New York City with his friends Marshall and Lily after graduating from Wesleyan University. In New York he met Barney and Robin, who became part of the group. Ted is on a quest for happiness and "The One", the woman he will marry. Ted is the more mature of the group, preferring more elegant and high class interests than the ones his friends possess. He goes to great lengths to profess his love to the women in his life, but they all falter after awhile. Despite these qualities, Ted often acts immature, such as partaking in wild activities with Barney. He is a big Star Wars fan and is often heard quoting the films. Ted is from Shaker Heights, Ohio, but considers himself a true New-Yorker, showing a massive hatred for the neighbouring New Jersey.</p>
				</article><br />
				<article id="article2">
					<h2>JASON SEGEL as Marshall Eriksen</h2>
					<p>Marshall Eriksen is an environmental lawyer and Ted's best (often disputed by Barney) friend. Marshall is married to Lily, whom he has been in love with since his freshman year of college, and they serve as an inspiration for Ted to find his true love. Marshall, like Ted, was born outside of New York (St. Cloud, Minnesota), but considers the city his home.</p>
				</article><br />
				<article id="article3">
					<h2>COBIE SMULDERS as Robin Scherbatsky</h2>
					<p>Robin Scherbatsky is a news anchor and Ted's ex-girlfriend. Robin emigrated from Canada to take a job in a news station and met Ted at MacLaren's, setting him on his journey to find "The One". Though they harboured genuine feelings for one another, their interests were completely different. Ted wanted children, but Robin despises them and refuses to have any. She smokes cigars and drinks scotch, causing Barney to fall for her. They later embark on a relationship that eventually sees them marry.</p>
				</article>
				<article id="article4">
					<h2>ALYSON HANNIGAN as Lily Aldrin</h2>
					<p>Lily Aldrin is a kindergarten teacher and Marshall's wife. Lily is the group's moderator, always there to resolve a conflict and a shoulder to cry on. Barney goes to her as a confidant, though she is terrible at keeping secrets. She met Marshall in college and they have been together ever since, only breaking up once. Though coming off as sweet and cute, Lily is quite fierce and sexually ravenous, similar to Barney's desires. During Season 7, she becomes pregnant and has Marshall's and her first child, Marvin Waitforit Eriksen. Like Barney, she is the only other true New Yorker.</p>
				</article>
				<article id="article5">
					<h2>NEIL PATRICK HARRIS as Barney Stinson</h2>
					<p>Barney Stinson is an employee at Goliath National Bank and Ted's "bro". Due to his father leaving him as a young child, Barney has abandonment issues and clings to his friends. He is a serial playboy, using his wealth to seduce females for sexual intercourse, with no intentions on engaging in a relationship. He falls in love with Robin and becomes engaged to her, their wedding being the day upon which Ted meets the mother of his children. Barney is one of two of the group who was actually from New York (Lily being the second).</p>
				</article>
				<article id="article6">
					<h2>GUEST STARS</h2>
					<ul class="well" style="list-style-type: none;">
						<li><i class="icon-user "></i>Ted's future wife</li>
						<li><i class="icon-user "></i>Ted's daughter and son	</li>
						<li><i class="icon-user "></i>Carl MacLaren</li>
						<li><i class="icon-user "></i>Ranjit</li>
						<li><i class="icon-user "></i>Victoria</li>
						<li><i class="icon-user "></i>Stella Zinman</li>
						<li><i class="icon-user "></i>Nora</li>
						<li><i class="icon-user "></i>Kevin Venkataraghavan</li>
						<li><i class="icon-user "></i>Quinn Garvey</li>
						<li><i class="icon-user "></i>James Stinson</li>
						<li><i class="icon-user "></i>Brad Morris</li>
						<li><i class="icon-user "></i>Stuart Bowers</li>
						<li><i class="icon-user "></i>Wendy the Waitress</li>
						<li><i class="icon-user "></i>Zoey Pierson</li>
						<li><i class="icon-user "></i>Don Frank</li>
						<li><i class="icon-user "></i>Loretta Stinson</li>
						<li><i class="icon-user "></i>Jerome Whittaker</li>
					</ul>
				</article>
			</section>
		</div>
		<hr class="featurette-divider">
		<footer>
			<p class="pull-right"><a href="#">Back to top</a></p>
			<p>&copy; 2012 CMSC100Template, Inc. &middot;</p>
		</footer>
	</div>
	
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
